<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Test</title>
		<meta name="author" content="Yuki Matsukura">
		<meta name="description" content="The HTML5 Herald">
		<link rel="stylesheet" href="css/styles.css?v=1.0">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
		google.load("jquery", "1.7.1");
	</script>
	</body>
</html>
