[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "lib/zplug"]
	path = lib/zplug
	url = git@github.com:b4b4r07/zplug.git
[submodule "lib/neobundle"]
	path = lib/neobundle
	url = https://github.com/Shougo/neobundle.vim
