[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim

[submodule "dstat"]
	path = dstat
	url = git://github.com/dagwieers/dstat.git

[submodule "lib/z"]
	path = lib/z
	url = git://github.com/rupa/z.git
